body {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgba(72, 25, 116, 0.836);
    color: white;
    text-align: center;
}